{{#partial "content"}}

    <h1>Startup Event Background</h1>
    <h2>BlockChain StartUp: NYC</h2>
    <h2>Friday, October 20-22,2017</h2>
    <p>Let the mystery of blockchain unfold for an amazing StartUp Weekend. According to Blockchain Revolution author, Don Tapscott, "blockchain technology – a truly open, distributed, global platform – will fundamentally change what we can achieve online, how we do it, and who can participate." </p>
    <img src="/images/blockchain.jpg" width="100%">
{{/partial}}

{{> layout.hbs}}