{{#partial "content"}}

    <h1>Startup Event Background</h1>
    <h2>BlockChain StartUp: NYC</h2>
    <h2>Friday, October 20-22,2017</h2>
    <img src="/images/blockchain.jpg" width="100%">
{{/partial}}

{{> layout.hbs}}